html, body {
  font: normal 13px "Lato", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  transition: all 1s linear;
  height: 120px;
}

.App-header {
  color: #777;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.loadingMessage {
  transition: opacity 0.5 linear;
  opacity: 0;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  overflow: scroll;
  transition: opacity 0.5 linear;
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .wrapper {
    max-width: 100%;
  }
}

table {
  border: none;
  position: relative;
  margin: 0 auto;
}

tr:nth-child(even) {
  background-color: #eee;
}

th,
td {
  min-width: 70px;
  padding: 10px 0;
}

th:nth-child(2),
td:nth-child(2) {
  min-width: 140px;
}

.bronze {
  background-color: #d77a1c;
}

.silver {
  background-color: silver;
}

.gold {
  background-color: gold;
}

.loading .loadingMessage{
  opacity: 1;
}

.loading .wrapper {
  opacity: 0;
}
