html, body {
  font: normal 13px "Lato", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 120px;
}

.App-header {
  padding: 20px;
  color: #777;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  overflow: scroll;
}

table {
  border: none;
  position: relative;
}

tr:nth-child(even) {
  background-color: #eee;
}

th,
td {
  min-width: 70px;
  padding: 10px 0;
}

th:nth-child(2),
td:nth-child(2) {
  min-width: 140px;
}
